:root {
    --bg: #fff;
    --color: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --color: #000;
    }
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
}
body {
    background-color: var(--bg);
    text-align: center;
    font-family: verdana;
    font-size: 14px;
    margin: auto;
    color: #555;
    width: -webkit-fill-available;
    width: -moz-available;
    min-width: 360px;
    max-width: 960px;
}
object {
    width: -webkit-fill-available;
    width: -moz-available;
    min-width: 360px;
    max-width: 960px;
}
iframe {
    width: auto;
    max-width: 960px;
}
button {
    color: var(--color);
    background-color: #6c4389;
    border: 1px solid #6c4389;
    width: 100px;
    height: 40px;
}
button:hover {
    background-color: #7a5099;
    border-color: #7a5099;
    cursor: pointer;
}
.padding {
    padding: 10px 10px 10px 10px;
}
.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.back {
    border-radius: 50%;
    border-color: #6c4389;
    background-color: transparent;
    color: #6c4389;
    width: 100px;
}
.back:hover {
    background-color: transparent;
    border-color: #7a5099;
    cursor: pointer;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
footer {
    width: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logout {
    position: fixed;
    right: 15px;
    top: 15px;
    transition: top 0.3s;
}
.notifications {
    position: fixed;
    left: 50px;
    top: 15px;
    transition: top 0.3s;
}
.about {
    position: fixed;
    left: 15px;
    top: 15px;
    transition: top 0.3s;
}
.search {
    position: fixed;
    right: 70px;
    top: 18px;
    transition: top 0.3s;
}
@font-face {
    font-family: "FontAwesome";
    src: url("Fonts/fontawesome-webfont.woff?v=4.7.0");
    src: url("Fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("Fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("Fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-sign-out:before {
    content: "\f08b";
}
.fa-bell-o:before {
    content: "\f0a2";
}
.fa-info-circle:before {
    content: "\f05a";
}
